@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme picker */

:root {
  --border-radus-1: 8px;
}

.nav-item,
.channel-panel,
.chat-body {
  color: var(--clr-text-1);
}
.channel-item svg {
  color: var(--clr-text-2);
}

.nav-bar {
  background-color: var(--clr-nav-bar-bg-1);
}
.nav-item {
  background-color: var(--clr-nav-icon-bg-1);
  color: var(--clr-nav-icon-text-1);
}
.logo-border {
  opacity: 0.25;
  background-color: var(--clr-text-3);
}

.channel-panel {
  background-color: var(--clr-nav-bar-bg-1);
}
.channel-panel-header {
  background-color: var(--clr-channel-panel-bg-2);
  border-radius: var(--border-radus-1) 0 0 var(--border-radus-1);
}
.channel-plus {
  color: var(--clr-chat-box-header-icon-1);
}
.channel-filter input {
  border-radius: var(--border-radus-1);
  background-color: var(--clr-input-field-bg-1);
}
.channel-items {
  border-radius: var(--border-radus-1) 0 0 var(--border-radus-1);
  background-color: var(--clr-channel-panel-bg-2);
}
.channel-item {
  background-color: var(--clr-channel-item-bg-1);
  border-color: var(--clr-chat-box-header-icon-1);
}
.channel-item:hover {
  background-color: var(--clr-channel-item-hover-bg-1);
}
.create-channel-form {
  color: var(--clr-text-1);
  background-color: var(--clr-nav-bar-bg-1);
}
.create-channel-form > div:not(.smileyss) {
  background-color: var(--clr-create-channel-bg-1);
}
.create-channel-form input {
  color: var(--clr-text-1);
  background-color: var(--clr-input-field-bg-1);
}
.create-channel-form button {
  color: var(--clr-text-5);
}
.temp-member {
  color: var(--clr-text-1);
  background-color: var(--clr-channel-item-bg-1);
}

.chat-box {
  background-color: var(--clr-chat-box-bg-2);
}
.chat-box-header {
  background-color: var(--clr-chat-box-bg-1);
}
.result-icon,
.channel-loading,
.chat-box-header .icon {
  color: var(--clr-chat-box-header-icon-1);
}
.header-sign-in-info {
  border-color: var(--clr-chat-box-header-icon-1);
}
.photo-holder {
  background-color: var(--clr-chat-bubble-icon-1);
}
.message-field {
  background-color: var(--clr-input-field-bg-1);
}
.more-options {
  background-color: var(--clr-more-options-bg-1);
}
#more-options + label {
  color: var(--clr-text-1);
}
#more-options:checked + label {
  color: var(--clr-text-3);
}
.member-list-item div:has(svg) {
  color: var(--clr-chat-bubble-text-1);
  background-color: var(--clr-chat-bubble-bg-1);
}
.channel-exist-add-member input {
  background-color: var(--clr-input-field-bg-1);
}
.channel-exist-add-member button {
  background-color: var(--clr-nav-icon-bg-1);
}
.channel-exist-add-member button {
  color: var(--clr-text-5);
}

.theme-picker input[type="radio"] {
  appearance: none;
  aspect-ratio: 1 / 1;
  width: 0.75rem;
  outline: 1px solid var(--clr-radio, currentColor);
  outline-offset: 1px;
  border-radius: 100%;

  box-shadow: 0px 1px 4px hsl(0, 0%, 100%, 0.9), 0px 2px 4px hsl(0, 0%, 0%, 0.9);
}
.theme-picker input[type="radio"]:checked {
  background-color: var(--clr-radio);
}
input[type="radio"]#dark {
  --clr-radio: black;
}
input[type="radio"]#light {
  --clr-radio: hsl(212, 85%, 55%);
}
input[type="radio"]#cobalt {
  --clr-radio: hsl(212, 55%, 29%);
}

:root:has(#dark:checked) {
  --clr-text-1: hsl(0, 0%, 90%, 1);
  --clr-text-2: hsl(0, 0%, 15%, 1);
  --clr-text-3: hsl(0, 0%, 90%, 1);
  --clr-text-4: hsl(0, 0%, 20%, 1);
  --clr-text-5: hsl(0, 0%, 90%, 1);

  --clr-nav-bar-bg-1: hsl(240, 4%, 16%);
  --clr-nav-bar-bg-2: hsl(240, 5%, 34%);

  --clr-nav-icon-bg-1: hsl(240, 5%, 34%);
  --clr-nav-icon-text-1: hsl(0, 0%, 90%, 1);

  --clr-channel-panel-bg-1: hsl(240, 4%, 22%);
  --clr-channel-panel-bg-2: hsl(240, 4%, 18%);

  --clr-create-channel-bg-1: hsl(240, 4%, 10%);

  --clr-channel-item-bg-1: hsl(240, 5%, 26%);
  --clr-channel-item-hover-bg-1: hsl(215, 19%, 35%);

  --clr-input-field-bg-1: hsl(240, 6%, 18%);

  --clr-chat-box-bg-1: hsl(240, 4%, 23%);
  --clr-chat-box-bg-2: hsl(240, 4%, 21%);

  --clr-more-options-bg-1: hsl(240, 4%, 5%, 0.9);

  --clr-chat-bubble-text-1: white;
  --clr-chat-bubble-icon-1: hsl(0, 0%, 0%);

  --clr-chat-bubble-bg-1: hsl(240, 4%, 18%);
}

:root:has(#light:checked) {
  --clr-text-1: hsl(0, 0%, 15%, 1);
  --clr-text-2: hsl(0, 0%, 15%, 1);
  --clr-text-3: hsl(0, 0%, 15%, 1);
  --clr-text-4: hsl(0, 0%, 90%, 1);
  --clr-text-5: hsl(0, 0%, 90%, 1);

  --clr-nav-bar-bg-1: hsl(0, 0%, 88%);
  --clr-nav-bar-bg-2: hsl(0, 0%, 94%);

  --clr-nav-icon-bg-1: hsl(212, 85%, 55%);
  --clr-nav-icon-text-1: hsl(0, 0%, 90%, 1);

  --clr-channel-panel-bg-1: hsl(0, 0%, 90%);
  --clr-channel-panel-bg-2: hsl(0, 0%, 100%);

  --clr-create-channel-bg-1: hsl(200, 90%, 98%);

  --clr-channel-item-bg-1: hsl(0, 0%, 95%);
  --clr-channel-item-hover-bg-1: hsl(215, 49%, 65%);

  --clr-input-field-bg-1: hsl(0, 0%, 92%);

  --clr-chat-box-bg-1: hsl(0, 0%, 95%);
  --clr-chat-box-bg-2: hsl(0, 0%, 100%);

  --clr-more-options-bg-1: hsl(0, 5%, 98%);

  --clr-chat-bubble-text-1: white;

  --clr-chat-bubble-bg-1: hsl(212, 85%, 55%);
  --clr-chat-bubble-icon-1: hsl(212, 100%, 18%);

  --clr-chat-box-header-icon-1: hsl(212, 85%, 55%);
}

:root:has(#cobalt:checked) {
  --clr-text-1: hsl(0, 0%, 90%, 1);
  --clr-text-2: hsl(0, 0%, 15%, 1);
  --clr-text-3: hsl(0, 0%, 15%, 1);
  --clr-text-4: #7388af;
  --clr-text-5: hsl(0, 0%, 90%, 1);

  --clr-nav-bar-bg-1: hsl(220, 29%, 16%);
  --clr-nav-bar-bg-2: hsl(0, 0%, 94%);

  --clr-nav-icon-bg-1: #2b3a55;
  --clr-nav-icon-text-1: hsl(0, 0%, 90%, 1);

  --clr-channel-panel-bg-1: hsla(221, 22%, 35%, 0.9);
  --clr-channel-panel-bg-2: hsla(221, 22%, 35%);

  --clr-create-channel-bg-1: hsla(221, 22%, 35%);

  --clr-channel-item-bg-1: #2b3a55;
  --clr-channel-item-hover-bg-1: #7388af;

  --clr-input-field-bg-1: #5f667e;

  --clr-chat-box-bg-1: #2b3a55;
  --clr-chat-box-bg-2: #4f5b70;

  --clr-more-options-bg-1: hsla(221, 22%, 35%, 0.8);

  --clr-chat-bubble-text-1: white;

  --clr-chat-bubble-bg-1: #2b3a55;
  --clr-chat-bubble-icon-1: #000000;

  --clr-chat-box-header-icon-1: hsla(222, 13%, 65%);
}

/* scroll bar */

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-track {
  background: #f1f1f100;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow: hidden;
}

body * {
  transition: border-width 500ms ease, background-color 500ms ease;
}

input::placeholder {
  font-style: italic;
}

input::placeholder {
  opacity: 0.5;
}

.channel-panel {
  border-inline-end: 1px solid hsl(0, 0%, 0%, 0.05);
}

#root {
  height: 100vh;
  overflow: hidden;
  user-select: none;
}

.nav-item {
  border-radius: 100%;
  box-shadow: 0px 2px 4px 0px hsl(0, 0%, 0%, 0.25);
  transition: border-radius 100ms ease, background-color 250ms ease;
}
.nav-item:hover {
  background-color: hsl(220, 90%, 60%, 1);
  border-radius: 12px;
}

.more-options {
  overflow-x: hidden;
  box-shadow: -1px 0px 4px hsl(0, 0%, 0%, 0.1);
  right: -100%;
  transition: right 500ms ease;
}

#more-options:checked ~ .more-options {
  right: 0;
}

#more-options + label {
  transition: color 500ms ease;
}

#more-options:checked + label {
  background-color: var(--clr-text-4);
}

.messages-holder {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.15rem;
}

.messages-holder > * {
  position: relative;
  display: inline;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  word-break: break-all;
  overflow: hidden;
  background-color: var(--clr-chat-bubble-bg-1);
  color: var(--clr-chat-bubble-text-1);
}

.chatLoading {
  opacity: 0.15;
  display: grid;
  place-items: center;
}

.creep {
  opacity: 0.04;
  position: absolute;
  bottom: 0;
  right: 0;
  scale: 2;
  font-size: clamp(15rem, 10vw, 40rem);
  rotate: -30deg;
}

fieldset,
fieldset::before,
fieldset::after {
  border-width: 1px;
  margin-block-start: 0.5rem;
  margin-block-end: 1.5rem;
}
.create-channel.dropdown-selection::after {
  content: "ADD";
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  font-weight: 700;
  font-size: 0.75rem;
  padding-inline-end: 1rem;
  color: green;

  opacity: 0;

  transition: opacity 250ms ease;
}
.create-channel.dropdown-selection:hover::after {
  opacity: 1;
}

.random-quote {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
